.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.input,
.output {
  height: 300px;
  width: 300px;
  background-color: rgba(128, 128, 128, 0.174);
  padding: 20px;
  border-radius: 10px;
}
.textd {
  height: 70%;
  width: 85%;
  margin: 10px auto;
  border-radius: 10px;
  resize: none;
  padding: 20px;
  background-color: white;
}
.textd::placeholder {
  font-style: italic;
}

button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 5px;
}
button:active {
  background-color: rgba(128, 128, 128, 0.808);
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .App {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .App .heading {
    grid-column: span 2;
    width: 100% !important;
  }
}

@media screen and (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .App .heading {
    width: 100% !important;
    text-align: center;
    margin: auto;
  }
  .App p {
    display: none;
  }
  .input,
  .output {
    height: 400px;
  }
  .textd {
    height: 40%;
  }
  .output .textd {
    height: 60%;
  }
}
